@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.covalence-blue {
  color: #0091ea;
}

body {
  color: white;
  background: black;
}

.addform-container {
  display: none;
  position: absolute;
  background-color: black;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.bold {
  font-weight: bold;
  text-decoration: none;
}

.hp-container {
  font-family: serif;
  text-align: center;
}

.disclaimer {
  font-size: x-small;
}

.page-title {
  text-decoration: underline;
  font-weight: bold;
}

.morphs-container {
  text-align: center;
  max-width: 100%;
}

.morph-card {
  position: inherit;
  display: inline-flex;
  width: 25%;
  border: none;
  color: white;
  background: black;
}

.snek-btn {
  background-color: black;
  border: none;
  color: white;
}

.morphs-btn {
  position: absolute;
  right: 0%;
  bottom: 2%;
  color: white;
  background: #0091ea;
  border: none;
}

.snake-pic {
  width: 50%;
}

.add-snek {
  color: white;
  background: #0091ea;
  border: none;
}

.edit-snek {
  color: white;
  background: #0091ea;
  border: none;
}

.delete-snek {
  color: white;
  background: #0091ea;
  border: none;
}

.basics-btn {
  position: absolute;
  right: 0%;
  bottom: 30%;
  top: 40%;
  color: white;
  background: #0091ea;
  border: none;
  height: 15%;
}

.gene-btn {
  position: absolute;
  background: #0091ea;
  border: none;
  right: 0%;
  top: 0%;
}

.home-btn {
  height: 75%;
  width: 15%;
  position: absolute;
  top: 0%;
  left: 0%;
  background: #0091ea;
  border: none;
}

.navbar-icon {
  position: inherit;
  top: inherit;
  left: inherit;
  height: 100%;
  width: 100%;
}

.s-img {
  height: 20%;
  width: 100%;
}

.navbar {
  height: 15%;
  background: #0091ea;
}

.gene-container {
  font-family: serif;
  text-align: center;
}

.basics-container {
  font-family: serif;
  text-align: center;
}

.morph-container {
  align-content: center;
  text-align: center;
}
