@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.covalence-blue {
  color: #0091ea;
}

.morphs-container {
  text-align: center;
  max-width: 100%;
}

.morph-card {
  position: inherit;
  display: inline-flex;
  width: 45%;
  border: none;
}

.snek-btn {
  background-color: white;
  border: none;
  color: black;
}

.morphs-btn {
  position: absolute;
  right: 0%;
  bottom: 0%;
  color: white;
  background: #0091ea;
  border: none;
}

.basics-btn {
  position: absolute;
  right: 0%;
  bottom: 30%;
  top: 30%;
  color: white;
  background: #0091ea;
  border: none;
}

.gene-btn {
  position: absolute;
  background: #0091ea;
  border: none;
  right: 0%;
  top: 0%;
}

.home-btn {
  height: 75%;
  width: 15%;
  position: absolute;
  top: 0%;
  left: 0%;
  background: #0091ea;
  border: none;
}

.navbar-icon {
  position: inherit;
  top: inherit;
  left: inherit;
  height: 100%;
  width: 100%;
}

.s-img {
  height: 15%;
  width: 60%;
}

.navbar {
  height: 15%;
  background: #0091ea;
}
